:root {
    --border-radius: 5px;
    --main-color: rgb(69, 150, 255);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
* {
    box-sizing: border-box;
    text-transform: uppercase;
    color: rgb(122, 122, 122);
}
body {
    background-color: rgb(88, 88, 88);
}

a {
    text-decoration: none;
}

.form-wrapper {
    max-width: 500px;
    width: 100%;
    margin: auto;
    padding: 3rem;
    background-color: #fff;

}
.form-title,
.remember-forgot>a {
    color: var(--main-color);
}
.form-login {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}
.form-user-date {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
}
.form-user-date .form-user-input{   
    display: inline-block;
    width: 100%;
    background-color: rgba(219, 222, 224, 0.836);
    border: none;
    border-radius: var(--border-radius);
}
.form-user-input {
    margin-top: 10px;
    padding: 0.6rem;
}
.form-user-date>.label span {
    letter-spacing: 3px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-size: 0.9rem;
}
.remember-forgot>* {
    text-transform: capitalize;
}
.remember-forgot>a {
    margin-left: auto;
}
.btn-log {
    width: 100%;
    padding: 1rem;
    font-weight: 600;
    color: #fff;
    background-color: var(--main-color);
    border: none;
    border-radius: var(--border-radius);
}
.btn-log:hover {
    cursor: pointer;
    background-color: rgb(38, 116, 218);
}